.vscode/**
.vscode-test/**
src/**
!src/static/css/**
!src/static/webviewScripts/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*